.controller-project_xml_sync .left { float: left; }
.controller-project_xml_sync .right { float: right; }
.controller-project_xml_sync .half { margin: 10px; width: 45%; }

.controller-project_xml_sync label.tabular{text-align: right; width: 270px; display: inline-block;}
.controller-project_xml_sync label.tabular2{text-align: right; width: 100px; display: inline-block;}
